* {
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  background-image: url(./assets/backgound.png);
  background-color: #e4e4e4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appBar {
  height: 80px;
  justify-content: center;
  background-color: #a31545 !important;
}

.navlink {
  color: #fff;
  text-decoration: none;
}

.navBtn {
  padding: 15px !important;
  margin: 0 10px !important;
  border-radius: 5px !important;
}

.activeBtn {
  background-color: #482880 !important;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #482880 !important;
  height: 80vh;
}

@media (max-width: 770px) {
  .App {
    height: auto;
  }
}
