* {
  font-family: 'Roboto', sans-serif;
}

.appBar {
  height: 80px;
  justify-content: center;
  background-color: #a31545 !important;
}

.navlink {
  color: #fff;
  text-decoration: none;
}

.navBtn {
  padding: 15px !important;
  margin: 0 10px !important;
  border-radius: 5px !important;
}

.activeBtn {
  background-color: #482880 !important;
}
