* {
  font-family: 'Roboto', sans-serif;
}

.App {
  background-image: url(./assets/backgound.png);
  background-color: #e4e4e4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.appBar {
  height: 80px;
  justify-content: center;
  background-color: #a31545 !important;
}

.navlink {
  color: #fff;
  text-decoration: none;
}

.navBtn {
  padding: 15px !important;
  margin: 0 10px !important;
  border-radius: 5px !important;
}

.activeBtn {
  background-color: #482880 !important;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.footer {
  background-color: #a31545;
  margin-top: 40px;
  color: #fff;
  padding-top: 40px;
}

.covidText {
  margin-bottom: 30px !important;
}

.covidImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
